body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #283136;
    background-color: #ffffff;   
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    width: 1px; 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

/* СТИЛИЗАЦИЯ СТРАНИЦЫ INDEX */

/* Стилизация меню */

.main-header {
    background-color: #eeeeee;
}

.site-navigation {
    list-style: none;
}

.site-navigation a,
.site-navigation-basket{
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.main-header-logo:hover {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation a:hover,
.site-navigation-basket:hover {
    color: #fb565a;
}

.site-navigation a:active,
.site-navigation-basket:active {
    color: rgba(0,0,0,0.3);
}

/* Стилизация слайдера */

.slider {
    background-color: #eeeeee;
}

.slide-title {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
}

.slide-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
}

.slide-button:hover {
    background-color: #e74246;
}

.slide-button:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

/* Стилизация раздела услуг */

.services-list {
    list-style: none;
}

.services-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.button-red {
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
}

.button-green {
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #00ca74;
}

.button-yellow {
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #efc84a;
}

.button-red:hover {
    background-color: #e74246;
}

.button-green:hover {
    background-color: #00bc6c;
}

.button-yellow:hover {
    background-color: #eab534;
}

.button-red:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

.button-green:active {
    background-color: #00aa62;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

.button-yellow:active {
    background-color: #e5a722;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

/* Стилизация разделов "about" и "stats" */

.about p:first-of-type {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}

.about h3,
.stats h3 {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.table-percent td {
    font-size: 45px;
    font-weight: 700;
    line-height: 10px;
    color: #000000;
}

.table-description td {
    line-height: 18px;
}

/* Стилизация раздела клиентов */

.clients-list {
    list-style: none;
}

.clients-list a{
    opacity: 0.2;
}

.clients-list a:hover {
    opacity: 1;
}

.clients-list a:active {
    opacity: 0.1;
}

/* Стилизация контактов */

.contacts-studio {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.contacts-adress,
.contacts-telephone {
    line-height: 18px;
    color: #666666;
}

.write-us-btn {
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
}

.write-us-btn:hover {
    background-color: #e74246;
}

.write-us-btn:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

/* Стилизация модального окна */

.write-us p {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}

.write-us label {
    font-weight: 700;
    line-height: 18px;
    color: #000000;
}

.user-name,
.user-mail,
.user-content {
    border: 2px solid #d7dcde;
    outline: none;
}

.user-name::-webkit-input-placeholder,
.user-mail::-webkit-input-placeholder,
.user-content::-webkit-input-placeholder {
    line-height: 18px;
    color: rgba(68,68,68,0.5);
}

.user-name:hover,
.user-mail:hover,
.user-content:hover {
    border: 2px solid #b4b9bb;
}

.user-name:focus,
.user-mail:focus,
.user-content:focus {
    border: 2px solid #000000;
}

.user-name:focus::-webkit-input-placeholder,
.user-mail:focus::-webkit-input-placeholder,
.user-content:focus::-webkit-input-placeholder {
    color: #444444;
}

.user-name:invalid,
.user-mail:invalid {
    border: 2px solid #e74246;
}

.submit-button {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
}

.submit-button:hover {
    background-color: #e74246;
}

.submit-button:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

/* Стилизация социального раздела */

.footer-social {
    list-style: none;
}

.promo-advice {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
}

.promo-discount {
    line-height: 22px;
    color: #444444;
}


/* СТИЛИЗАЦИЯ СТРАНИЦЫ CATALOG */

.site-navigation-current {
    display: inline-block;
    border-bottom: 2px solid #fb565a;
}

.container-heading {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
    background-color: #eeeeee;
}

/* Стилизация раздела фильтров */

.filters fieldset {
    border: none;
}

.filters ul {
    list-style: none;
}

.filters legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.filters label {
    line-height: 20px;
}

.filter-label:hover {
    color: #000000;
}

.filter-label:disabled {
    color: rgba(40,49,54,0.3);
}

.filter-submit {
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
    border: none;
}

.filter-submit:hover {
    background-color: #dfdfdf;
}

.filter-submit:active {
    color: rgba(0,0,0,0.3);
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

/* Стилизация раздела сортировки */

.sorting p {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #000000;
}

.sorting-list {
    list-style: none;
}

.sorting-item a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.3);
}

.sorting-item a:hover {
    color: rgba(0,0,0,0.6);
}

.sorting-item a:active {
    color: #000000;
}

.sorting-current a {
    color: #000000;
}

/* Стилизация каталога */

.catalog-list {
    list-style: none;
}

.item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    text-align: center;
}

.item-description {
    line-height: 18px;
    color: #666666;
    text-align: center;
}

.item-button {
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
}

.item-button:hover {
    background-color: #e74246;
}

.item-button:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}


/* Стилизация переключателя страниц */

.pagination-list {
    list-style: none;
}

.pagination-item a {
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
}

.pagination-item-current a {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}

.pagination-item a:hover {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
    color: rgba(0,0,0,0.3);
    background-color: #d5d5d5;
}

/* СЕТКИ */

/* Сетка страницы INDEX */

/* Сетка хедера */

.header-wrapper {
    outline: 3px solid black;
}

.main-navigation {
    display: flex;
    width: 1160px;
    margin: 0 20px;
    outline: 3px dotted orange;
    justify-content: space-between;
}

.main-header-logo {
    outline: 1px solid blue;
    width: 260px;
}

.site-navigation {
    outline: 1px solid blue;
    margin: 0;
    padding: 0;
    width: 660px;
}

.site-navigation-basket {
    outline: 1px solid blue;
    width: 200px;
}

.slide-1 {
    outline: 3px solid black;
}

.promo {
    width: 1160px;
    margin: 0 20px;
    outline: 1px solid blue;
}

/* Сетка раздела услуг */

.main-container {

}

.services-wrapper {
    outline: 3px dotted orange;
}

.services {
    margin: 0 20px;
    outline: 2px solid green;
}

.services-list {
    display: flex; 
    flex: wrap;
    width: 1160px;
    margin: 0;
    padding: 0;
}

.services-item {
    width: 360px;
    margin-right: 40px;
    outline: 1px solid blue;
}

.services-item:nth-child(3n) {
    margin-right: 0;
    outline: 1px solid blue;
}

/* Сетка раздела информации */

.info-wrapper {
    outline: 3px dotted orange;
}

.info {
    display: flex;
    width: 1160px;
    margin: 0 20px;
    outline: 2px solid green;
}

.about {
    width: 700px;
    margin-right: 60px;
    outline: 1px solid blue;
}

.stats {
    width: 400px;
    outline: 1px solid blue;
}

/* Сетка раздела клиентов */

.clients-wrapper {
    outline: 3px dotted orange;
}

.clients {
    width: 1160px;
    margin: 0 20px;
    outline: 2px solid green;
}

.clients-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.clients-item {
    outline: 1px solid blue;
}

/* Сетка футера */

.footer-map {
    background-color: gray;
}

.footer-wrapper {
    outline: 3px dotted orange;
}

.footer-last {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 20px;
    outline: 2px solid green;
}

.footer-social {
    margin: 0;
    padding: 0;
    width: 360px;
    outline: 1px solid blue;
}

.footer-promo {
    width: 760px;
    outline: 1px solid blue;
}

/* Сетка страницы CATALOG */

.container-heading {
    outline: 1px solid blue;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.main-wrapper {
    outline: 4px dotted orange;
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 60px 20px;
}

.filters {
    outline: 3px solid grey;
    width: 300px;
}

.catalog {
    outline: 3px solid grey;
    width: 800px;
}

.sorting {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    width: 760px;
    outline: 2px solid green;
}

.sorting p {
    outline: 1px solid blue;
    width: 260px;
    margin: 0;
}

.sorting ul {
    outline: 1px solid blue;
    width: 460px;
    margin: 0;
    padding: 0;
}

.catalog-wrapper {
    margin-left: 40px;
    width: 760px;
    outline: 3px dotted orange;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 760px;
    margin: 0;
    padding: 0;
}

.catalog-item {
    outline: 1px solid blue;
    width: 360px;
    margin-bottom: 33px;
}

.pagination-list {
    outline: 1px solid blue;
    width: 500px;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 60px;
}


