body {
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 24px;
}

.container-heading {
    font-size: 55px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.item-title {
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}