body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #283136;
    background-color: #ffffff;   
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

/* СТИЛИЗАЦИЯ СТРАНИЦЫ INDEX */

/* Стилизация меню */

.main-header {
    background-color: #eeeeee;
    margin-bottom: 80px;
    padding-top: 50px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    width: 640px;
    margin: 0;
    padding: 0;
}

.main-header-logo {
    width: 200px;
}

.site-navigation a {
    display: block;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    padding: 28px 42px 10px 5px;
}

.site-navigation-basket {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.basket-link {
    position: relative;
    display: block;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    padding: 28px 0 10px;
}

.basket-link::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 18px;
    top: 32px;
    left: -40px;
    background-image: url(../img/SVG/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-header-logo {
    display: block;
    padding: 0px 40px 0 0;
}

.main-header-logo:hover {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation a:hover,
.basket-link:hover {
    color: #fb565a;
}

.site-navigation a:active,
.basket-link:active {
    color: rgba(0,0,0,0.3);
}

/* Стилизация слайдера */

.slider {
    position: relative;
    min-height: 423px;
    width: 1160px;
    background-color: #eeeeee;
}

.slides {
    min-height: 423px;
    width: 1160px;
}

.slide {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 423px;
    overflow: hidden;
    display: none;
}

.slide:nth-child(1) {
    background-image: url(../img/PNG/slide1.png);
    background-repeat: no-repeat;
    background-position: right 30px bottom;
}

.slide:nth-child(2) {
    background-image: url(../img/PNG/slide2.png);
    background-repeat: no-repeat;
    background-position: right 0 bottom 0;
}

.slide:nth-child(3) {
    background-image: url(../img/PNG/slide3.png);
    background-repeat: no-repeat;
    background-position: right 0 bottom 0;
}

.promo-content {
    width: 520px;
    margin-right: 0;
}

.slide-title {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
    margin: 71px 0 0 0;
}

.promo-content p:nth-child(2){
    margin: 26px 0 0 0;
}

.slide-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    display: block;
    width: 240px;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 38px;
    padding: 16px 0;
    border-radius: 2px;
}

.slide-button:hover {
    background-color: #e74246;
}

.slide-button:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

.slider-controls {
    position: absolute;
    text-align: center;
    width: 240px;
    height: 18px;
    bottom: 95px;
    left: 50%;
    margin-left: -120px;
    z-index: 100;
}

.slider-controls label {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 5px solid #ffffff;
    margin: 0 5px;
    vertical-align: top;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

.slider input[type="radio"] {
    position: absolute;
    opacity: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #c1c1c1;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

/* Стилизация раздела услуг */

.services {
    border-bottom: 2px solid #eeeeee;
}

.services-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.services-item {
    width: 300px;
    margin-right: 100px;
    margin-bottom: 81px;
}

.services-item:nth-child(3n) {
    margin-right: 0;
}

.services-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 20px 0 0 0;
}

.services-description {
    margin: 15px 0 0 0;
    padding-right: 20px;
}

.services-button {
    display: block;
    width: 160px;
    text-align: center;
    margin-top: 30px;
    padding: 16px 0;
    border-radius: 2px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}

.red {
    background-color: #fb565a;
}

.green {
    background-color: #00ca74;
}

.yellow {
    background-color: #efc84a;
}

.red:hover {
    background-color: #e74246;
}

.green:hover {
    background-color: #00bc6c;
}

.yellow:hover {
    background-color: #eab534;
}

.red:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

.green:active {
    background-color: #00aa62;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

.yellow:active {
    background-color: #e5a722;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

/* Стилизация разделов "about" и "stats" */

.info-columns {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 53px;
    margin-bottom: 7px;
    border-bottom: 2px solid #eeeeee;
}

.about {
    width: 700px;
}

.stats {
    width: 400px;
}

.about-heading {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
    margin: 32px 0 0 0;
}

.about-description {
    margin: 35px 0 0 0;
}

.about h3 {
    margin: 40px 0 0 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.about-list {
    margin: 23px 0 0 0;
    padding: 0;
    list-style: none;
}

.about-list li {
    position: relative;
    margin-bottom: 25px;
    padding-left: 37px;
}

.about-list li:last-child {
    margin-bottom: 0;
}

.about-list li::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    top: 10px;
    left: 1px;
}

.stats img {
    padding-left: 40px;
}

.stats h3 {
    margin: 28px 0 0 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.stats h3 {
    padding-left: 55px;
}

.stats-table {
    margin: 37px 0 0 18px;
    border-spacing: 22px;
}

.stats-table td {
    padding-top: 15px;
}

.table-percent td {
    font-size: 45px;
    font-weight: 700;
    line-height: 10px;
    color: #000000;
    padding: 0;
    margin: 0;
}

.stats-table sup {
    font-size: 26px;
    font-weight: 500;
}

.table-description td {
    line-height: 18px;
}

/* Стилизация раздела клиентов */

.clients {
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 20px;
}

.clients-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.clients-item {
    position: relative;
    display: flex;
    width: 260px;
    padding-right: 20px;
    height: 173px;
    margin-right: 20px;
}

.clients-item::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
    top: 65px;
    right: 0px;
}

.clients-item:nth-child(4n) {
    margin-right: 0;
    padding-right: 0;
}

.clients-item:nth-child(4n)::after {
    display: none;
}

.clients-item a {
    margin: auto;
    display: block;
    text-align: center;
}

.clients-list a {
    opacity: 0.2;
}

.clients-list a:hover {
    opacity: 1;
}

.clients-list a:active {
    opacity: 0.1;
}

/* Стилизация контактов */

.main-footer {
    padding-top: 60px;
}

.footer-map {
    height: 362px;
    background-image: url(../img/PNG/map-marker.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: grey;
    padding-top: 54px;
}

.contacts {
    width: 320px;
    padding: 50px 0 45px 0;
    margin-left: 22px;
    background-color: #ffffff;
}

.contacts-studio {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 20px 23px 50px;
}

.contacts-adress {
    line-height: 18px;
    color: #666666;
    margin: 0 20px 18px 50px;
}

.contacts-telephone {
    line-height: 18px;
    color: #666666;
    margin: 0 20px 35px 50px;
}

.write-us-btn {
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
    font-weight: 500;
    display: block;
    width: 219px;
    text-align: center;
    margin-left: 50px;
    padding: 16px 0;
    border-radius: 2px;
}

.write-us-btn:hover {
    background-color: #e74246;
}

.write-us-btn:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

/* Стилизация модального окна */

.modal {
    display: none;
    z-index: 1000;
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 960px;
    box-sizing: border-box;
    box-shadow: 0 20px 40px 0 rgba(0,1,1,0.75);
    max-height: 580px;
    padding: 73px 100px 40px;
}

.modal-close {
    position: absolute;
    top: 78px;
    right: 90px;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    background-image: url(../img/SVG/close-cross.svg);
    background-repeat: no-repeat;
    font-size: 0;
    border: 0;
    opacity: 0.3;
    cursor: pointer;
    outline: none;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.user-wrapper {
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin-bottom: 35px;
}

.half-width {
    width: 360px;
}

.modal p {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
    margin: 0 0 50px;
}

.modal label {
    font-weight: 700;
    line-height: 18px;
    color: #000000;
}

.user-name,
.user-mail {
    width: 360px;
    height: 50px;
}

.user-name,
.user-mail,
.user-content {
    border: 2px solid #d7dcde;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 15px;
    outline: none;
}

.user-content {
    width: 760px;
    height: 118px;
    padding-top: 15px;
    margin-bottom: 45px;
}

.user-name::-webkit-input-placeholder,
.user-mail::-webkit-input-placeholder,
.user-content::-webkit-input-placeholder {
    line-height: 18px;
    color: rgba(68,68,68,0.5);
}

.user-name:hover,
.user-mail:hover,
.user-content:hover {
    border: 2px solid #b4b9bb;
}

.user-name:focus,
.user-mail:focus,
.user-content:focus {
    border: 2px solid #000000;
}

.user-name:focus::-webkit-input-placeholder,
.user-mail:focus::-webkit-input-placeholder,
.user-content:focus::-webkit-input-placeholder {
    color: #444444;
}

.user-name:invalid,
.user-mail:invalid {
    border: 2px solid #e74246;
}

.submit-button {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
    line-height: 18px;
    color: #ffffff;
    font-weight: 500;
    display: block;
    width: 260px;
    text-align: center;
    padding: 16px 0;
    border-radius: 2px;
    margin-bottom: 45px;
    outline: none;
}

.submit-button:hover {
    background-color: #e74246;
}

.submit-button:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

/* Стилизация социального раздела */

.footer-last {
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-promo {
    margin: 0;
    padding: 0;
    width: 760px;
}

.footer-last .container {
    display: flex;
    justify-content: space-between;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 260px;
}

.footer-social li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    width: 78px;
    height: 78px;
}


.social-button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.footer-social .social-button::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.vk-button::after {
    background-image: url(../img/SVG/vk-icon.svg);
}

.fb-button::after {
    background-image: url(../img/SVG/fb-icon.svg);
}

.inst-button::after {
    background-image: url(../img/SVG/insta-icon.svg);
}

.promo-advice {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
    margin: 5px 0 0 0;
}

.promo-discount {
    margin: 10px 0 0 0;
    line-height: 22px;
    color: #444444;
}

.footer-social li:hover {
    background-color: #e74246;
    border: 1px solid #e74246;
}

.footer-social li:active {
    background-color: #d7373b;
    border: 1px solid #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

.social-button:active::after {
    opacity: 0.3;
}

/* СТИЛИЗАЦИЯ СТРАНИЦЫ CATALOG */

.inner-page .main-header {
    margin-bottom: 55px;
}

.site-navigation-current {
    position: relative;
    display: block;
}

.site-navigation-current::after {
    content: "";
    position: absolute;
    width: 74px;
    height: 2px;
    background-color: #fb565a;
    bottom: 2px;
    left: 5px;
}

.main-heading {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
    background-color: #eeeeee;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 108px;
}

/* Стилизация раздела фильтров */

.filters {
    width: 300px;
}

.filters fieldset {
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 52px;
}

.filter-input {
    display: none;
}

.filter-label {
    position: relative;
    cursor: pointer;
}

.range-filter {
    margin-top: 48px;
    width: 260px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 20px;
    background-color: #eeeeee;
    border-radius: 5px;
    overflow: hidden;
}

.range-filter .scale {
    margin-top: 39px;
    height: 2px;
    background-color: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background-color: #00ca74;
}

.range-controls .inner-toggle {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    background-color: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 2px 1px 0 #cfcfcf;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #283136;
    text-transform: uppercase;
    font-size: 16px;
    width: 50%;
}

.price-controls input {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #283136;
    text-transform: uppercase;
    text-align: center;
    width: 60px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    margin-left: 10px;
}

.max-price {
    text-align: right;
}

.range-controls .toggle-max {
    left: 155px;
}

.filters .net-filter {
    margin-bottom: 28px;
}

.filters .features-filter {
    margin-bottom: 28px;
}

.filters ul {
    list-style: none;
    padding: 0;
}

.filters li {
    margin-top: 15px;
}

.filters legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.filters label {
    line-height: 20px;
}

.net-filter .filter-label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-image: url(../img/SVG/radio-off.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    height: 25px;
    width: 25px;
}

.net-filter .filter-input:checked + .filter-label::before {
    background-image: url(../img/SVG/radio-on.svg);
    background-repeat: no-repeat;
}

.features-filter .filter-label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-image: url(../img/SVG/checkbox-off.svg);
    background-repeat: no-repeat;
    opacity: 0.4;
    height: 23px;
    width: 30px;
}

.features-filter .filter-input:checked + .filter-label::before {
    background-image: url(../img/SVG/checkbox-on.svg);
    background-repeat: no-repeat;
}

.filter-label:hover {
    color: #000000;
}

.filter-label:hover::before {
    opacity: 1;
}

.filter-label:disabled {
    color: rgba(40,49,54,0.3);
}

.filter-label:disabled::before {
    opacity: 0.1;
}

.filter-submit {
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
    border: none;
    display: block;
    width: 260px;
    text-align: center;
    margin-top: 30px;
    padding: 16px 0;
    border-radius: 2px;
    outline: none;
}

.filter-submit:hover {
    background-color: #dfdfdf;
}

.filter-submit:active {
    color: rgba(0,0,0,0.3);
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}



/* Стилизация раздела сортировки */

.sorting {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.sorting p {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 160px;
}

.sorting-wrapper {
    display: flex;
    width: 360px;
}

.sorting-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}

.sorting-icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
    padding: 3px 0 0 0;
    margin: 0;
    width: 60px;
}

.icon {
    display: block;
    opacity: 0.2;
}

.icon-down {
    padding-right: 17px;
}

.icon:hover {
    fill: "#a6a6a6";
    opacity: 1;
}

.icon:active {
    fill: #231f20;
    opacity: 1;
}

.sorting-list a {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.3);
    padding-right: 25px;
}

.sorting-item a:hover {
    color: rgba(0,0,0,0.6);
}

.sorting-item a:active{
    color: #000000;
}

.sorting-current a {
    color: #000000;
}

/* Стилизация каталога */

.catalog {
    width: 760px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 55px 0 0 0;
    margin-bottom: 28px;
}

.catalog-item {
    position: relative;
    width: 360px;
    height: 616px;
    margin-bottom: 33px;
}

.browser-icon {
    display: block;
    opacity: 0.12;
}

.img-wrapper {
    height: 575px;
    box-sizing: border-box;
    border: 1px solid rgba(0,1,1,0.1);
}

.item-info {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    display: block;
    width: 360px;
    min-height: 230px;
    background: #eeeeee;
    display: none;
}

.catalog-item:hover {
    box-shadow: 0 6px 15px 0px rgba(0,1,1,0.25);
}

.catalog-item:hover .item-info {
    display: block;
}

.catalog-item:hover .browser-icon {
    opacity: 1;
}

.catalog-item:hover .img-wrapper {
    border: 1px solid rgba(77,77,77,0.1);
}

.item-title {
    text-align: center;
    margin: 27px 0 0 0;
}

.item-title a {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.item-description {
    line-height: 18px;
    color: #666666;
    text-align: center;
    margin: 16px 0 0 0;
    padding: 0 60px;
}

.item-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    display: block;
    width: 200px;
    text-align: center;
    margin: 30px auto;
    padding: 16px 0;
    border-radius: 2px;
}

.item-button:hover {
    background-color: #e74246;
}

.item-button:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}


/* Стилизация переключателя страниц */

.pagination-list {
    display: flex;
    width: 443px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination-item a {
    display: block;
    box-sizing: border-box;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    background-color: #eeeeee;
    color: #000000;
    width: 50px;
    height: 50px;
    margin-right: 11px;
}

.next a {
    width: 260px;
    padding-right: 0;
}

.pagination-item-current a {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}

.pagination-item a:hover {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

.pagination-item-current a:hover {
    background-color: #ffffff;
}

.pagination-item-current a:active {
    box-shadow: none;
}

/* Стилизация футера у catalog */
